# Dépendances Node.js (toujours à exclure, très lourd)
node_modules/

# Dossiers de build / compilation / distribution
dist/
buildimg/
build/
out/

# Dossiers de données locales ou sensibles (si stockés localement)
base de D/

# Fichiers de logs et d'erreurs système
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db